[submodule "emacs-jedi"]
	path = emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule "emacs-for-python"]
	path = emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "emacs-epc"]
	path = emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "emacs-deferred"]
	path = emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "emacs-ctable"]
	path = emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "emacs-python-environment"]
	path = emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment
[submodule "py-autopep8.el"]
	path = py-autopep8.el
	url = https://github.com/paetzke/py-autopep8.el.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/auto-complete/popup-el.git
